// Typography
$PNBold: "ProximaNovaBold";
$PNSemibold: "ProximaNovaSemibold";
$PNMedium: "ProximaNovaRegular";
$PNLight: "ProximaNova-Light";
$PNBlack: "ProximaNova-Black";

$base-font-family: "Montserrat-Light";
$heading-font-family: $PNSemibold;

// Font Sizes
$base-font-size: rem(18);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.3;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$green: #46502b;
$light-green: #a2a795;
$bg-gray: #1D1E19;

$headder-dark-color: #231f20;
$text-color: #333333;

$header-bgc: rgba(248, 248, 248, 0.9);

// Font Colors
$base-font-color: $text-color;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;